





<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="app.component.scss">
<title>Main</title>
</head>
<body>



<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
<div>
  <ul>
    <li>
      <a routerLink="/main">Clear Page</a>
    </li>
    <li>
      <a routerLink="/promises">Promises</a>
    </li>
    <li>
      <a routerLink="/callbacks">CallBacks</a>
    </li>
    <li>
      <a routerLink="/mhl">Map Higher Level</a>
    </li>
    <li>
      <a routerLink="/java">Java</a>
    </li>
  </ul>
</div>
</nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<router-outlet></router-outlet>
